<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" (ngSubmit)="guardar(forma)" #forma="ngForm">

                <span class="login100-form-title p-b-51">
                    Toda Musica
                </span>

                <!-- <span class="text-danger">El correo es obligatorio</span> -->
                <div class="wrap-input100 m-b-16">
                    <input ngModel class="input100" type="text" name="email" placeholder="Email">

                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input ngModel class="input100" type="password" name="password" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input ngModel class="input100" type="text" name="name" placeholder="Nombre">

                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input ngModel class="input100" type="text" name="lastname" placeholder="Apellido">

                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 m-b-16">
                    <input ngModel class="input100" type="text" name="location" placeholder="Ubicacion">

                    <span class="focus-input100"></span>
                </div>


                <!-- <span class="text-danger">La contraseña debe de ser más de 6 letras</span> -->


                <div class="flex-sb-m w-full p-t-3 p-b-24">


                    <div>
                        <a routerLink="/login" class="txt1">
                            ¿Ya tienes cuenta?/Ingresar
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>