<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
         TodaMusica
         
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Productos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div *ngFor="let category of categories">
                        <a href="#" (click)="goToProductsOfCategories($event,category.id,category.name)" class="dropdown-item">{{category.name}}</a>
                    </div>
                </div>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="products">Productos</a>
            </li> -->
            <li *ngIf="logged==true " class="nav-item " routerLinkActive="active ">
                <a class="nav-link " routerLink="cart">Carrito</a>
            </li>
            <li *ngIf="logged==false " class="nav-item " routerLinkActive="active ">
                <a class="nav-link " routerLink="login">Inicio de Sesion</a>
            </li>
            <li *ngIf="logged==true " (click)="closeSession() " class="nav-item " routerLinkActive="active ">
                <a class="nav-link " routerLink="home">Cerrar Sesion</a>
            </li>
            <li *ngIf="admin==true" class="nav-item " routerLinkActive="active ">
                <a class="nav-link " routerLink="shipment">ADMIN</a>
            </li>
            <li *ngIf="logged==true" class="nav-item " routerLinkActive="active ">
                <a class="nav-link " routerLink="user_ships">Mis Pedidos</a>
            </li>
        </ul>

    </div>
</nav>